.a_div_back{background:url(../images/balance.png) repeat-y top left;width:538px;height:286px;margin:6% 0 0 10%;}
.a_title_span{cursor:pointer;}
.a_title_2{width:146px;height:50px;border-radius:10px;float:left;margin-left:176px;}
.a_title_3{width:154px;height:50px;border-radius:60px;float:left;margin-left:60px;}
.a_title_4{width:146px;height:50px;margin-top:28px;border-radius:10px;float:left;margin-left:176px;}
.a_title_5{width:154px;height:50px;margin-top:28px;border-radius:60px;float:left;margin-left:60px;}
.a_title_6{width:146px;height:50px;margin-top:28px;border-radius:10px;float:left;margin-left:176px;}
.a_title_7{width:154px;height:50px;margin-top:28px;border-radius:60px;float:left;margin-left:60px;}
.a_title_8{width:146px;height:50px;margin-top:28px;border-radius:10px;float:left;margin-left:176px;}
.a_title_9{width:154px;height:50px;margin-top:28px;border-radius:60px;float:left;margin-left:60px;}
