.a_div_back{background:url(../images/security.png) repeat-y top left;width:537px;height:282px;margin:6.2% 0 0 10%;}
.a_title_2{width:150px;height:50px;border-radius:10px;float:left;margin-left:177px;}
.a_title_3{width:150px;height:50px;border-radius:10px;margin-top:26px;float:left;margin-left:177px;}
.a_title_4{width:150px;height:50px;border-radius:10px;margin-top:26px;float:left;margin-left:177px;}
.a_title_5{width:155px;height:50px;border-radius:60px;margin-top:26px;float:left;margin-left:52px;}
.a_title_6{width:150px;height:50px;border-radius:10px;margin-top:28px;float:left;margin-left:177px;}
.a_title_span{cursor:pointer;}