.a_div_back{background:url(../images/ticketcheck.png) repeat-y top left;width:707px;height:330px;margin:5% 0 0 10%;}
.a_title_2{width:131px;height:49px;border-radius:5px;margin-left:176px;float:left;}
.a_title_3{width:131px;height:49px;border-radius:5px;margin-top:22px;margin-left:176px;float:left;}
.a_title_4{width:142px;height:52px;border-radius:60px;margin-top:20px;float:left;margin-left:57px;}
.a_title_5{width:142px;height:52px;border-radius:60px;margin-top:20px;margin-left:57px;float:left;}
.a_title_6{width:131px;height:49px;border-radius:5px;margin-top:19px;margin-left:176px;float:left;}
.a_title_7{width:131px;height:49px;border-radius:5px;margin-top:19px;margin-left:176px;float:left;}
.a_title_8{width:131px;height:49px;border-radius:5px;margin-top:20px;margin-left:176px;float:left;}
.a_title_9{width:142px;height:52px;border-radius:60px;margin-top:20px;margin-left:55px;float:left;}
.clear{clear:both;}
.a_title_span{cursor:pointer;}