<html>
<head>
<title>站务系统客户端下载页面</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
body{background:#f9f9f9;}
.max{width:1000px;margin:0 auto;}
.down{position:relative;height:106px;width:1000px;}
.down a{background:url(/public/images/btn.png) no-repeat top center; display:block; top:0;right:202px;position:absolute;width:229px; height:119px;}
.down a:hover{background:url(/public/images/btn2.png) no-repeat top center;}
</style>
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (下载界面要设计下  顶部风格类似现在官网.psd) -->
<div class="max">
<table id="__01" width="999" height="660" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="2">
			<a href="http://www.bus365.com/" target="_blank"><img src="/public/images/down_01.png" width="287" height="119" alt=""></a></td>
		<td>
			<img src="/public/images/down_02.png" width="423" height="119" alt=""></td>
		<td>
			<img src="/public/images/down_03.png" width="83" height="119" alt=""></td>
		<td>
			<img src="/public/images/down_04.png" width="206" height="119" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="/public/images/down_05.png" width="999" height="40" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="/public/images/down_06.png" width="999" height="198" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
		<div class="down">
			<a href="/public/Setup.exe"></a>
			<img src="/public/images/down_07.png" width="999" height="106" alt="">
		</div>
		</td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="/public/images/down_08.png" width="1" height="196" alt=""></td>
		<td colspan="4">
			<img src="/public/images/down_09.png" width="998" height="191" alt=""></td>
	</tr>
	<tr>
		<td colspan="4">
			<img src="/public/images/down_10.png" width="998" height="5" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/public/images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="1" alt=""></td>
		<td>
			<img src="/public/images/&#x5206;&#x9694;&#x7b26;.gif" width="286" height="1" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</div>
</body>
</html>