#{extends 'main.html' /}
#{set title:'安检员' /}
#{header /}

<link rel="stylesheet" media="screen" href="/public/style/security.css" />
<script type="text/javascript" src="/public/javascripts/index/security.js"></script>
<script src="/public/javascripts/jquery.cookie.js"></script>

<div id="screen">
<div class="a_div_back">
<div>
<div class="a_title_1"><span class="a_click_span"></span></div>
</div>
<div>
<div class="a_title_2 a_title_span"><span class="a_click_span"></span></div>
<div class="a_title_3 a_title_span"><span class="a_click_span"></span></div>
<div class="a_title_4 a_title_span"><span class="a_click_span"></span></div>
</div>
<div>
<div class="a_title_5 a_title_span"><span class="a_click_span"></span></div>
<div class="a_title_6 a_title_span"><span class="a_click_span"></span></div>
</div>
</div>
</div>