#{extends 'main.html' /}
#{set title:'售票员' /}
#{header /}

<link rel="stylesheet" media="screen" href="/public/style/ticketsell.css" />
<script type="text/javascript" src="/public/javascripts/index/ticketsell.js"></script>
<script src="/public/javascripts/jquery.cookie.js"></script>

<div id="screen">
<div class="a_div_back">
<div>
<div class="a_title_1 a_title_span"><span class="a_click_span"></span></div>
</div>
<div>
<div class="a_title_2 a_title_span"><span class="a_click_span"></span></div>
<div class="a_title_3 a_title_span"><span class="a_click_span"></span></div>
<div class="a_title_4 a_title_span"><span class="a_click_span"></span></div>
</div>
<div class="clear">
<div class="a_title_5 a_title_span"><span class="a_click_span"></span></div>
<div class="a_title_6 a_title_span"><span class="a_click_span"></span></div>
<div class="a_title_7 a_title_span"><span class="a_click_span"></span></div>
</div>
<div class="clear">
<div class="a_title_8 a_title_span"><span class="a_click_span"></span></div>
<div class="a_title_9 a_title_span"><span class="a_click_span"></span></div>
<div class="a_title_10 a_title_span"><span class="a_click_span"></span></div>
</div>
<div class="clear">
<div class="a_title_11 a_title_span"><span class="a_click_span"></span></div>
<div class="a_title_12 a_title_span"><span class="a_click_span"></span></div>
<div class="a_title_13 a_title_span"><span class="a_click_span"></span></div>
</div>
<div class="clear">
<div class="a_title_14 a_title_span"><span class="a_click_span"></span></div>
<div class="a_title_15 a_title_span"><span class="a_click_span"></span></div>
<div class="a_title_16 a_title_span"><span class="a_click_span"></span></div>
<div class="a_title_17 a_title_span"><span class="a_click_span"></span></div>
</div>
<div class="clear">
<div class="a_title_18 a_title_span"><span class="a_click_span"></span></div>
<div class="a_title_19 a_title_span"><span class="a_click_span"></span></div>
<div class="a_title_20 a_title_span"><span class="a_click_span"></span></div>
</div>
<div class="clear">
<div class="a_title_21 a_title_span"><span class="a_click_span"></span></div>
<div class="a_title_22 a_title_span"><span class="a_click_span"></span></div>
</div>

</div>
</div>