@charset "utf-8";
/* CSS Document */
em,strong,h2,dl,dt,dd,ul,li,span,img,h1,body,html,div,a,p{margin:0; padding:0;}
html, body{position:relative; font:14px/20px "Arial","宋体"; color:#06131E;width:100%; height:100%;}
img{border:none;}
a{text-decoration:none;}
em{font-style: normal;}
ul,li{list-style:none;}
.leftTree{width:137px;height:800px;background:url(../images/leftTreeBg.jpg) repeat-y top left;position:fixed;bottom:0;top:0;left:0;z-index:5;}
.wrap{width:129px;padding-left:8px;height:100%}
.navigation{height:61px; background:url(../images/barLine.jpg) no-repeat left bottom;}
.tree .firstMenu span{background:url(../images/menuicon.png) no-repeat left ;}
.navigation span{display:block;padding-top:28px;font:15px/30px "宋体";font-weight:bold;background-position:-479px 23px; color:white; padding-left:10px;color:#bcc5da;}
.tree{display:block;padding-top:17px;}
{display:block;position:relative;z-index:100;}
.subMenu{border-radius:0px 10px 10px 0px;width:440px;height:550px;position:absolute;top:0px;min-height:62px;padding:8px 0;}
.subMenu .sub_wrap{ width:200px;float:left;margin-left:10px;}
.subMenu dl{line-height: 22px;}
.subMenu a{color:#dee4f3;font-size:12px;}
.subMenu a:hover{color:#FFFFFF;font-weight:bold;font-size:14px}
.subMenu dl dd{padding:10px 0 0 10px;}
.subMenu dl dt{height:30px;line-height:30px;font-weight:bold;margin-bottom:5px;}
.subMenu dl dt .menu2head:after {clear: both;display: block;visibility: hidden;height: 0;line-height: 0;content: "";}
.subMenu dl dt span{width:20px; height:20px;padding-top:5px;text-align:center;dispaly:block;float:left;}
.subMenu2 a{display:block;padding-left:6px;font-weight:bold;line-height:30px;text-indent:1em; border-bottom:1px solid #7181A5; width:140px;margin-left:20px;; background:url(../images/icon_ziliao.png) no-repeat left center;height:30px;}
.sysName{float:left;margin-left:137px;width:400px; padding:10px 0 0 20px;font-size:28px;color:#FFFFFF;text-shadow: 3px 3px 5px #0565af;}
.l2  .subMenu a.a1{background:url(../images/tic.png) no-repeat left center;}
.l4  .subMenu a.a3{background:url(../images/tongji.png) no-repeat left center;}
.subMenu2 a.a3{ background:url(../images/icon_person.png) no-repeat left center;}
.subMenu dl dd a{padding-left:10px; background:url(../images/dot.png) no-repeat left center;display:block;}
.fonts{white-space: nowrap;}
.l1 .subMenu{display:none;}
/*
.l2 .subMenu{top:10px;display:none;}
.l3 .subMenu{top:30px;display:none;}
.l3 .subMenu{top:40px;display:none;}
.l4 .subMenu{top:50px;display:none;}
.l5 .subMenu{top:60px;display:none;}
.l6 .subMenu{top:70px;display:none;}
.l7 .subMenu{top:80px;display:none;}
.l8 .subMenu{top:90px;display:none;}
.l9 .subMenu{top:100px;display:none;}
.l10 .subMenu{top:110px;display:none;}
.l11 .subMenu{top:20px;display:none;}
*/
.tree .firstMenu{display:block;text-align:center;padding-bottom:4px;}
.tree .firstMenu span{display:block;margin-left:15px;width:90px; height:40px;text-align:right;color:#D6E0E5;font-size:14px;line-height:35px;}
.tree .fir_show{background:#56617d;}

.outSystem{display:block;margin:10px auto; width:80px; height:55px; background:url(../images/out.png) no-repeat 0px 0px;text-align:right;color:#D6E0E5;font-size:14px;line-height:55px;}
.outSystem:hover{color:#FFFFFF;}
.minFrame{position:relative;width:100%; height:100%;display:block;overflow:hidden;}/*改*/
.minFrame .rBar{width:8px;height:100%;position:fixed;right:0;top:0px;background:#8997B7;}
.minFrame .bBar{width:100%;height:8px;position:fixed;right:0;bottom:0;background:#8997B7;}
.flex_colr{width:100%;margin:10px 0px 0 0px;float:left;}/*改*/
.flex_colr .tableWrap{margin:0 515px 0 0;}/*改*/
.flexTabel{width:100%;}
.flexTabel td{width:33%; position:relative;color:white;min-width:110px;}
.flexTabel td .num{width:58px; height:58px; position:absolute;top:0; left:0;border-bottom-right-radius:58px;line-height:50px;text-align:left;text-indent:1em;font-size:15px;}
.flexTabel td .bg{display:block; color:white;position:relative;}
.flexTabel td .bg span{display:block;position:absolute;top:0;left:0;width:98%;height:156px;margin:2px 1px 1px 2px;z-index:10;}
.flexTabel td.tLast .bg span, .flexTabel td .bg:hover span{border:1px dashed #FFFFFF;}
.flexTabel td .bg p{font:25px/25px "Microsoft YaHei";}
.flexTabel td .bg{display:block;position:relative;height:162px; text-align:center;margin:4px;}
.flexTabel td .C_ctn{padding-top:55px;}
.flexTabel td.t1 .bg{background:#DA987E;}
.flexTabel td.t4 .bg{background:#9087C7;}
.flexTabel td.t5 .bg{background:#C9798C;}
.flexTabel td.t6 .bg{background:#79B0E7;}
.flexTabel td.t7 .bg{background:#13b984;}
.flexTabel td.t8 .bg{background:#8B91B0;}
.flexTabel td.t9 .bg{background:#A73976;}
.flexTabel td.t10 .bg{background:#D8C66A;}
.flexTabel td.tLast .bg{background:#b3b3b3;font-size:100px; font-weight:bold;line-height:162px;}

.flexTabel td.t1 .num{background:#954C2F;}
.flexTabel td.t4 .num{background:#756CB0;}
.flexTabel td.t5 .num{background:#AB5B6E;}
.flexTabel td.t6 .num{background:#5A8CBD;}
.flexTabel td.t7 .num{background:#0a7e59;}
.flexTabel td.t8 .num{background:#61688A;}
.flexTabel td.t9 .num{background:#9a0256;}
.flexTabel td.t10 .num{background:#A09458;}
.flexTabel td.t2 .bg{background:#61C8E2;}
.flexTabel td.t2 .num{background:#48A7C0;}
.flexTabel td.t3 .bg{background:#9DD174;}
.flexTabel td.t3 .num{background:#75A74F;}
.flexTabel td.t1 .C_ctn, .flexTabel td.t2 .C_ctn, .flexTabel td.t3 .C_ctn, .flexTabel td.t4 .C_ctn, .flexTabel td.t5 .C_ctn, .flexTabel td.t6 .C_ctn, .flexTabel td.t7 .C_ctn, .flexTabel td.t8 .C_ctn, .flexTabel td.t9 .C_ctn, .flexTabel td.t10 .C_ctn{padding-top:30px;}
.flexTabel td .C_ctn img{margin-bottom:8px;}
.asideMode{width:500px;float:left;margin-left:-507px;margin-top:14px;}/*改*/
.schedule{background:#eff2f9;height:244px; position:relative;margin-bottom:10px;}
.asideMode .titBar{width:38px; height:100%; position:absolute;top:0; left:0;background:#8386AA;}
.asideMode .titBar h2{color:white;font-size:18px;text-align:center;padding-top:12px;font-weight:normal;}
.statistics{position:absolute;top:8px;left:35px; width:450px;height:230px;font-size:13px;}
.statistics .l_name{width:60px; text-align:right;position:absolute;left:0;top:20px;line-height:35px;}
.statistics .l_name li{position:relative;height:35px;}
.statistics .l_name span{display:block;position:absolute;height:25px; background:#82afe8;color:white;left:69px;width:300px;text-align:left;padding-left:6px; line-height:25px; top:4px;}
.statistics .l_name span.s1{width:200px;}
.statistics .l_name span.s2{width:340px;}
.statistics .l_name span.s3{width:140px;}
.statistics .l_name span.s4{width:250px;}

.statistics .btm_line{width:380px;height:25px;bottom:0;left:68px; position:absolute;border-top:1px solid #aeb0bc;}
.statistics .btm_line ul{width:380px;position:relative;}
.statistics .btm_line ul li{float:left;width:70px;position:relative;}
.statistics .btm_line ul li.lt{width:100px; position:absolute;right:-5px;font-size:12px;text-align:right;}
.statistics .btm_line ul li span{width:20px;height:10px; display:block; position:absolute;top:-10px;left:10px;border-left:1px solid #aeb0bc;}

.statistics .lef_line{width:390px;height:205px;top:0;left:68px; position:absolute;border-left:1px solid #aeb0bc;}
.schedule3{height:180px;margin:0;}
.news_lis li{height:34px; line-height:34px;border-bottom:1px dashed #6d768e;padding-left:20px;background:url(../images/laba.jpg) no-repeat center left;}
.task_lis, .news_lis ul{padding:14px;margin-left:40px;}
.news_lis li a{color:#586177;}
.news_lis li a:hover{color:#407CC1;}
.news_lis li span{float:right;font-size:12px;}
.taskMOde{margin-left:-5px;}
.taskMOde li{float:left;width:108px;text-align:center;display:block;}
.taskMOde li a{width:98px; height:98px;display:block;margin:0 auto 10px; position:relative;}
.taskMOde li a span{display:block;position:absolute;top:-5px; left:80px;width:25px; height:26px;background:url(../images/num_arise.png) no-repeat center;color:white;}
.taskMOde li img{width:98px; height:98px;}
.fonts{color:#F7EAA5}
.clearStyle{height:0;font-size:0; display:block;clear:both;overflow:hidden;}
taskMOde:after, .news_lis li:after, .statistics .btm_line ul:after, .minFrame:after, .subMenu dl dt:after, .subMenu dl dt:after, .subMenu:after, .subMenu dl:after, .subMenu dl dd:after{clear: both;content: ".";display: block;height: 0;overflow: hidden;visibility: hidden;}
#tabs .panel-body{
	padding:0;
}
